/__pycache__/
/build/
/.vscode/

/cython/alg/BogoSort/build/
/cython/alg/BogoSort/__pycache__/
/cython/alg/BogoSort/.vscode/

/cython/alg/MonteCarlo/build/
/cython/alg/MonteCarlo/__pycache__/
/cython/alg/MonteCarlo/.vscode/

/cython/example/build/
/cython/example/__pycache__/
/cython/example/.vscode/

/fs/build/
/fs/temp/
/fs/__pycache__/
/fs/.vscode/

/net/build/
/net/__pycache__/
/net/.vscode/

/sys/build/
/sys/__pycache__/
/sys/.vscode/